# INTERSECT

## ВЫБИРАЕМ ОБЩИЕ ДАННЫЕ

### А что если нам надо вывести общие записи — те, что существуют в нескольких таблицах?

### Предположим, нам надо вывести совпадающие по названию города и штаты.

In [ ]:
'''
SELECT 
         c.city_name object_name /*выбираем столбец city_name, задаём ему алиас object_name*/
FROM 
         sql.city c /*из схемы sql и таблицы city, задаём таблице алиас с*/

INTERSECT /*оператор присоединения*/

SELECT 
         cc.state /*выбираем столбец state*/
FROM 
         sql.city cc /*из схемы sql и таблицы city, задаём таблице алиас с*/
ORDER BY 1
'''

### Как видим, с помощью оператора INTERSECT мы вывели названия городов и штатов, которые совпадают: New York, Washington и Wyoming. Присмотримся к нему внимательнее.

### Чтобы лучше понять, как работает этот оператор, вновь обратимся к диаграмме Венна: INTERSECT оставляет из результатов первого запроса все строки, которые совпали с результатом выполнения второго запроса.

![Alt text](https://lms-cdn.skillfactory.ru/assets/courseware/v1/5c4422f466caff0a493c3ec664658ae8/asset-v1%3ASkillFactory%2BDSPR-2.0%2B14JULY2021%2Btype%40asset%2Bblock/dst3-u2-md4_8_1.png)

### Синтаксис запроса с оператором INTERSECT выглядит следующим образом:

### SELECT 
###          n columns
### FROM 
###          table_1
### INTERSECT
### SELECT 
###          n columns
### FROM 
###          table_2

### Вернёмся к нашему примеру с продажами канцтоваров.

### С помощью оператора INTERSECT мы можем вывести те позиции, которые продавались и в мае, и в июне. Визуализировать это действие можно примерно так:

![Alt text](https://lms-cdn.skillfactory.ru/assets/courseware/v1/0b1111999cc786de32fe2480e80d139e/asset-v1%3ASkillFactory%2BDSPR-2.0%2B14JULY2021%2Btype%40asset%2Bblock/dst3-u2-md4_8_2.png)

### Оператор INTERSECT оставляет только те строки, которые являются общими для двух запросов (в нашем примере это Тетрадь).

### Как EXCEPT, так и INTERSECT убирают дубликаты, если они имеются.

In [ ]:
# 8.1
'''
select c.city_id
from sql.city c
intersect
select cu.city_id
from sql.customer cu
intersect
select s.city_id
from sql.shipment s
intersect
select d.city_id
from sql.driver d
'''

In [ ]:
# 8.2
'''
select c.zip
from sql.customer c
intersect
select d.zip_code
from sql.driver d
'''

## Запишем структуру запроса с учётом полученных знаний.
|Оператор | Элемент|
|---------|--------|
|SELECT |         N columns|
|FROM     |     table_1|
|UNION / UNION ALL / EXCEPT / INTERSECT| 
|SELECT |         N columns|
|FROM  |        table_2|

In [ ]:
# 9.1
'''
(select
  c.city_name,
  max(s.weight) weight
from sql.city c
  join sql.shipment s on c.city_id = s.city_id
group by 1
order by 2 desc
limit 1)
union
(select
  cc.city_name,
  min(ss.weight)
from sql.city cc
  join sql.shipment ss on cc.city_id = ss.city_id
group by 1
order by 2
limit 1)
'''

In [ ]:
# 9.2
'''
select
  s.cust_id mutual_id
from sql.shipment s
intersect
select
  sh.ship_id
from sql.shipment sh
'''

In [ ]:
# 9.3
'''
select
  c.cust_name object_name,
  'КЛИЕНТ' object_description
from sql.customer c
where c.cust_type = 'manufacturer'
union
select
  t.make,
  'ГРУЗОВИК'
from sql.truck t
'''

https://apps.skillfactory.ru/learning/course/course-v1:SkillFactory+SQLQ+2021/home