# UNION и ручная генерация

### ✍ UNION можно использовать для создания справочников прямо в коде запроса. К примеру, если мы хотим вручную ввести какие-то значения и произвести с ними некоторые манипуляции или дополнить существующую выдачу своими значениями.

### Составим запрос, который позволит вывести первые три буквы алфавита и их порядковые номера.

In [ ]:
'''
SELECT 
         'a' letter,'1' ordinal_position /*сами задаём значение первого столбца ‘a’ и алиас для него letter, значение второго столбца ‘1’ и алиас для него ordinal_position*/
         
UNION /*оператор присоединения*/
SELECT 
         'b','2' /*сами задаём значение первого столбца ‘b’, значение второго столбца ‘2’ */
         
UNION /*оператор присоединения*/

SELECT
         'c','3' /*сами задаём значение первого столбца ‘с’, значение второго столбца ‘3’*/ 
'''

### Существуют сложные алгоритмы сравнения текстовых значений, но главный смысл сводится к одному: сравнение производится на основе таблицы unicode и позиции элемента в ней с учётом определённых условий.

In [ ]:
# 6.1
'''
select
  1000000 result
union
select 541
union
select -500
union
select 100
order by 1 desc
limit 1
'''

In [ ]:
# 6.2
'''
select '1000000'::text mycol
union
select '541'::text
union
select '-500'::text
union
select '100'::text
order by 1 desc
limit 1
'''

In [ ]:
# 6.3
'''
select '+'::text result
union
select '-'::text
union
select '='::text
union
select '/'::text
order by 1 desc
limit 1
'''