# UNION ALL и промежуточные итоги

## ВОЗМОЖНОСТИ UNION

### ✍ Помимо соединения разнородных сущностей в единый справочник, UNION ALL часто используется для подведения промежуточных итогов и выведения результатов агрегатных функций.

### Кроме агрегатных функций, в запросах с UNION могут использоваться функции группировки и выборки.

### Попробуем вывести обобщённые данные о населении по всем городам, с детализацией до конкретного города.

In [ ]:
'''
SELECT
         c.city_name,
         c.population /*выбираем столбцы city_name, population*/
FROM
         sql.city c /*из схемы sql и таблицы city, задаём таблице алиас с*/

UNION ALL /*оператор присоединения*/

SELECT
         'total',
         SUM(c.population) /*сами задаём объект ‘total’, суммируем все значения столбца population*/
FROM
         sql.city c /*из схемы sql и таблицы city, задаём таблице алиас с*/
ORDER BY 2 DESC /*сортируем по второму столбцу в убывающем порядке (чтобы итоговая сумма была в начале)*/
'''

### Визуально это действие можно представить так:

![Alt text](https://lms-cdn.skillfactory.ru/assets/courseware/v1/5b38c2b9fa661c3e2c559506101f4fb7/asset-v1%3ASkillFactory%2BDSPR-2.0%2B14JULY2021%2Btype%40asset%2Bblock/dst3-u2-md4_4_1.png)

### Выполнив запрос в Metabase, вы заметите, что сначала выведен итоговый результат с суммой населения всех городов в таблице, а затем по каждому городу в отдельности.

In [ ]:
# 4.1
'''
select
  'total_shipments' date_period,
  count(sh.ship_id)
from sql.shipment sh
union
select
  s.ship_date::text ,
  count(s.ship_date) cnt_shipment 
from 
  sql.shipment s
group by 1
order by 1 desc
'''