# UNION и дополнительные условия

### ✍ UNION также может быть использован для разделения существующей выборки по критерию «выполнение определённого условия».

### Например, с помощью UNION можно отобразить, у кого из водителей заполнен столбец с номером телефона.

In [ ]:
'''
SELECT
         d.first_name,
         d.last_name,
         'телефон заполнен' phone_info /*выбираем столбцы first_name, last_name, сами выводим объект ‘телефон заполнен’*/
FROM
         sql.driver d /*из схемы sql и таблицы driver, задаём алиас d*/
WHERE d.phone IS NOT NULL /*условие, что телефон заполнен*/

UNION /*оператор присоединения (уникальные значения)*/

SELECT
         d.first_name,
         d.last_name,
         'телефон не заполнен' phone_info /*выбираем столбцы first_name, last_name, сами выводим объект ‘телефон не заполнен’*/
FROM
         sql.driver d /*из схемы sql и таблицы driver, задаём алиас d*/
WHERE d.phone IS NULL /*условие, что телефон не заполнен*/
'''

In [ ]:
# 5.1
'''
(select distinct
  c.city_name,
  c.state,
  'доставка осуществлялась' shipping_status
from sql.city c
  join sql.shipment s on s.city_id = c.city_id
where s.ship_id is not null
union all
select distinct
  ci.city_name,
  ci.state,
  'доставка не осуществлялась' shipping_status
from sql.city ci
  left join sql.shipment sh on sh.city_id = ci.city_id
where sh.ship_id is null)
order by 1, 2
'''

In [ ]:
# 5.2
'''
select
  c.city_name,
  count(s.ship_id) shippings_fake
from sql.city c
  join sql.shipment s on s.city_id = c.city_id
group by 1
having count(s.ship_id)>10
union all 
select
  c.city_name,
  count(s.ship_id)+ 5 shippings_fake
from sql.city c
  join sql.shipment s on s.city_id = c.city_id
group by 1
having count(s.ship_id)<=10 
order by 2 desc, 1
'''