# EXCEPT

## ИСКЛЮЧАЕМ ПОВТОРЯЮЩИЕСЯ ДАННЫЕ

### Предположим, нам нужно узнать, в какие города осуществлялась доставка, за исключением тех, в которых проживают водители.

In [ ]:
'''
SELECT
         c.city_name /*выбираем столбец city_name*/
FROM
         sql.shipment s /*из схемы sql и таблицы shipment, задаём таблице алиас s*/
JOIN sql.city c ON s.city_id = c.city_id /*внутреннее присоединение из схемы sql таблицы city, задав ей алиас c, по ключам city_id*/
EXCEPT /*оператор присоединения*/
SELECT
         cc.city_name  /*выбираем столбец city_name*/
FROM
         sql.driver d /*из схемы sql и таблицы driver, задаём таблице алиас d*/
JOIN sql.city cc ON d.city_id=cc.city_id /*внутреннее присоединение из схемы sql таблицы city, задав ей алияс cc, по ключам city_id*/
ORDER BY 1 /*сортировка по первому столбцу*/
'''

### Все водители проживают в городе Memphis, и мы видим, что он не выводится в результате запроса.

### Как вы, должно быть, заметили, для решения этой задачи мы использовали оператор EXCEPT. Принципы его работы мы сейчас разберём ↓

### Чтобы лучше понять данный тип присоединения, предлагаем ознакомиться с диаграммой Венна — математическим инструментом, представляющим возможные логические связи между соединёнными наборами данных.

![Alt text](https://lms-cdn.skillfactory.ru/assets/courseware/v1/fd51ef1b05d2fdc6f1c2e860cffb4cd7/asset-v1%3ASkillFactory%2BDSPR-2.0%2B14JULY2021%2Btype%40asset%2Bblock/dst3-u2-md4_7_1.png)

## Синтаксические правила для оператора EXCEPT такие же, как и для UNION:

* ### одинаковый тип данных;
* ### одинаковое количество столбцов;
* ### одинаковый порядок столбцов согласно типу данных.

## Синтаксис выглядит следующим образом:
### SELECT 
###          n columns
### FROM 
###          table_1
### EXCEPT
### SELECT 
###          n columns
### FROM 
###          table_2

### Мы уже знаем, как решить такую задачу с использованием LEFT JOIN. Вариант с EXCEPT будет полезен в тех случаях, когда у вас много столбцов и вам не хочется прописывать их равенство в условии для JOIN.

### Предположим, у нас есть информация о продажах канцелярского магазина за май и июнь.

### Какие-то позиции продавались и в том, и в другом месяце, а какие-то — только в одном. Использовав EXCEPT, мы можем оставить только те товары, которые есть в первом запросе (например, за май), но отсутствуют во втором запросе (например, за июнь).

### Графически действие оператора можно представить следующим образом:

![Alt text](https://lms-cdn.skillfactory.ru/assets/courseware/v1/37fa117a6e758a7af619e4732dd2b4bb/asset-v1%3ASkillFactory%2BDSPR-2.0%2B14JULY2021%2Btype%40asset%2Bblock/dst3-u2-md4_7_2.png)

### Таким образом, при присоединении с помощью EXCEPT мы вывели только те товары, которые были проданы в мае, но не в июне. Чтобы найти продажи по тем позициям, что были реализованы в июне, а в мае — нет, необходимо поменять запросы местами.

In [ ]:
# 7.1
'''
select
  d.zip_code zip
from sql.driver d
join sql.city c on c.city_id = d.city_id
except
select
  cu.zip
from sql.customer cu
join sql.city cc on cc.city_id = cu.city_id
'''