In [1]:
import pandas as pd

citibike = pd.read_csv('citibike-tripdata.csv')
citidata =

In [32]:
citibike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [3]:
citibike['start station id'].value_counts(normalize=True)

281.0     0.006430
2006.0    0.006367
519.0     0.006247
514.0     0.006153
426.0     0.006120
            ...
3432.0    0.000050
3599.0    0.000037
2005.0    0.000030
3704.0    0.000023
3583.0    0.000020
Name: start station id, Length: 759, dtype: float64

In [4]:
citibike['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

In [5]:
citibike['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

In [6]:
citibike['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [7]:
citibike['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [9]:
citibike['birth year'].max()

2002

In [10]:
citibike['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [11]:
citibike['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [12]:
citibike.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000

In [14]:
citibike.drop(['start station id', 'end station id'], axis=1, inplace=True)

In [26]:
citibike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  datetime64[ns]
 11  gender                   300000 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(5)
memory usage: 27.5+ MB

In [31]:
citibike['birth year'] = citibike['birth year'].astype('int64')

In [61]:
citibike['age'] = 2018 - citibike['birth year']
citibike.drop(['birth year'], axis=1)
citibike[citibike['age'] > 60].shape[0]

11837

In [41]:
citibike['starttime'] = pd.to_datetime(citibike['starttime'])
citibike['stoptime'] = pd.to_datetime(citibike['stoptime'])
citibike['trip_duration'] = citibike['stoptime'].dt.minute - citibike['starttime'].dt.minute
citibike.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,trip_duration
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1,38,27
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0,49,2
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1,43,55
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2,34,7
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1,24,21

In [42]:
citibike['weekend'] = citibike['starttime'].dt.day_of_week
def get_weekday(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
citibike['weekend'] = citibike['weekend'].apply(get_weekday)
citibike['weekend'].value_counts()

0    184865
1    115135
Name: weekend, dtype: int64

In [1]:
def time_of_the_day(time):
    if time in range(0,7):
        return 'night'
    if time in range(7, 13):
        return 'morning'
    if time in range(13,19):
        return 'day'
    if time in range(19, 24):
        return 'evening'
citibike['time of day'] = citibike['starttime'].dt.hour.apply(time_of_the_day)
citibike['time of day'].shape[0]

NameError: name 'citibike' is not defined