# Группировка

### Агрегатные функции вычисляют какой-то параметр для набора строк.

### Прежде мы применяли агрегатные функции для всего вывода, а сейчас используем для различных групп строк. Поможет нам в этом ключевое слово GROUP BY.

### GROUP BY используется для определения групп выходных строк, к которым могут применяться агрегатные функции.

### Выведем число покемонов каждого типа.

In [ ]:
"""
SELECT /*выбор*/
    type1 AS pokemon_type, /*столбец type1; присвоить алиас pokemon_type*/
    COUNT(*) AS pokemon_count /*подсчёт всех строк; присвоить алиас pokemon_count*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY type1 /*группировка по столбцу type1*/
ORDER BY type1 /*сортировка по столбцу type1*/
    """

### Мы получили такой результат:

![Alt text](https://lms-cdn.skillfactory.ru/assets/courseware/v1/abe19d36feb86b1af7778cb883c2b323/asset-v1%3ASkillFactory%2BDSPR-2.0%2B14JULY2021%2Btype%40asset%2Bblock/dst3-u2-md2_4_1.png)

### Вывод, конечно же, можно сортировать по столбцу с агрегированием.

### Представим ТОП существующих типов покемонов.

In [ ]:
"""
SELECT /*выбор*/
    type1 AS pokemon_type, /*столбец type1; присвоить алиас pokemon_type*/
    COUNT(*) AS pokemon_count /*подсчёт всех строк; присвоить алиас pokemon_count*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY pokemon_type /*группировка по столбцу pokemon_type*/
ORDER BY COUNT(*) DESC /*сортировка в порядке убывания*/
    """

### Обратите внимание! Мы использовали в группировке не название столбца, а его алиас.

In [ ]:
"""
select 
  type1 as primary_type,
  count (distinct type2) as additional_types_count,
  avg (hp) as avg_hp,
  sum(attack) as attack_sum 
from sql.pokemon
group by primary_type
order by additional_types_count desc, primary_type asc
"""

### Мы можем осуществлять группировку по нескольким столбцам.

In [ ]:
'''
SELECT /*выбор*/
    type1 AS primary_type, /*столбец type1; присвоить алиас primary_type*/
    type2 AS additional_type, /*столбец type2; присвоить алиас additional_type*/
    COUNT(*) AS pokemon_count /*подсчёт всех строк присвоить алиас pokemon_count*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY 1, 2 /*группировка по столбцам 1 и 2*/
ORDER BY 1, 2 NULLS FIRST /*сортировка по столбцам 1 и 2; сначала нули*/
'''

### Обратите внимание! В группировке можно указывать порядковый номер столбца так же, как мы делали это в прошлом модуле для сортировки.
### GROUP BY можно использовать и без агрегатных функций. Тогда его действие будет равносильно действию DISTINCT.