# Ограничение вывода

## LIMIT

### По умолчанию при любом запросе вы получаете в выводе все строки, попадающие под условия запроса.

### Чаще всего именно этого вы и ожидаете, но иногда, например, вам нужно просто взглянуть на содержание таблицы, при этом чем она она больше, тем дольше будет работать запрос.

### Ограничим вывод первыми десятью строками и сможем легко понять, какие данные хранятся в таблице, не утяжеляя результат.

In [ ]:
SELECT * /*выбор всех полей*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
LIMIT 10 /*ограничить вывод десятью значениями*/

### Ещё один типичный случай использования ограничения вывода — вывод ТОПа по какому-то показателю.

### Выведем ТОП-5 фильмов по рейтингу, сначала отсортировав их по убыванию, а потом оставив только верхние пять строк с помощью LIMIT.

In [ ]:
SELECT /*выбор*/
    movie_title, /*столбец movie_title*/
    rating /*столбец rating*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
ORDER BY rating DESC /*сортировка по столбцу rating в порядке убывания*/
LIMIT 5 /*ограничить пятью значениями*/

### Обратите внимание! Ключевое слово LIMIT используется в самом конце запроса.

## OFFSET

### Если LIMIT «оставляет» указанное число первых строк из вывода, то OFFSET, наоборот, «обрезает» указанное число первых строк.

### LIMIT и OFFSET можно использовать вместе, их порядок не важен.

### Выведем название и рейтинг фильмов с четвёртого по восьмое место.

In [ ]:
SELECT /*выбор*/
    movie_title, /*столбец movie_title*/
    rating /*столбец rating*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
ORDER BY rating DESC /*сортировка по столбцу rating в порядке убывания*/
OFFSET 3 LIMIT 5 /*исключить первые три строки и вывести пять следующих за ними*/

# Напоследок напомним структуру простого запроса:

### SELECT
###     столбец1 AS новое_название,
###     столбец2,
###     столбец3
### FROM таблица
### WHERE (условие1 OR условие2)
###     AND условие3
### ORDER BY сортировка1, сортировка2
### OFFSET 1 LIMIT 2

# Финальное задание

In [ ]:
select movie_title, director, screenwriter, actors
from sql.kinopoisk
where (rating between 8 and 8.5 or year < 1990) and (overview is not null) and (movie_title not like 'Т%') and (movie_title like '____________')
order by rating desc 
limit 7