# Сортировка

## ORDER BY

### Когда мы говорили о последовательности столбцов в выводе, вы, вероятно, задались вопросом: «А в каком порядке выводятся строки?»

### Порядок вывода строк может задаваться в настройках базы данных для каждой таблицы. Более того, этот порядок может быть не задан, и тогда от вывода к выводу он будет разным.

### Чтобы задать порядок вывода строк в запросе, применим новое ключевое слово ORDER BY.
### Для примера отсортируем фильмы по их названию в алфавитном порядке.

In [ ]:
SELECT *
FROM sql.kinopoisk
ORDER BY movie_title

### Как видите, сортировка по возрастанию проводится по умолчанию.

### Наш запрос с сортировкой по названию аналогичен такому:

In [ ]:
SELECT *
FROM sql.kinopoisk
ORDER BY rating ASC

### Здесь ASC — явное указание порядка сортировки по возрастанию (англ. ascending).

### Для обратного порядка используется ключевое слово DESC (англ. descending).

### Разумеется, мы можем комбинировать в нашем запросе фильтрацию строк и сортировку вывода, а также выводить только необходимые столбцы.

### Выведем названия, имена режиссёров и сценаристов, а также год выхода в прокат фильмов, выпущенных в СССР, и отсортируем результат по убыванию рейтинга.

In [ ]:
SELECT /*выбор*/
    movie_title, /*столбец movie_title*/
    director, /*столбец director*/
    screenwriter, /*столбец screenwriter*/
    year /*столбец year*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
WHERE country = 'СССР' /*при условии, что страна производства — СССР*/
ORDER BY rating DESC /*сортировка по рейтингу в порядке убывания*/

In [ ]:
select movie_title, overview, year
from sql.kinopoisk
where rating > 8.2 and country <> 'США'
order by year desc

### Также в ORDER BY можно указывать, где должны идти пустые значения — в начале или в конце.

### Такая настройка порядка вывода задаётся с помощью ключевых слов NULLS FIRST / NULLS LAST.

In [ ]:
SELECT  /*выбор*/
    movie_title,  /*столбец movie_table*/
    rating,  /*столбец rating*/
    overview,  /*столбец overview*/
    year /*столбец year*/
FROM sql.kinopoisk  /*из таблицы sql.kinopoisk*/
ORDER BY overview /*сортировка по столбцу overview*/

### А теперь измените последнюю строку скрипта на ORDER BY overview NULLS FIRST.

### Такой запрос выведет первыми строки с пустым описанием.

### Вы можете сортировать вывод по нескольким столбцам, просто указав их через запятую в ORDER BY (порядок сортировки указывается отдельно для каждого столбца).

### Кроме того, вы можете сортировать результат запроса и по тем столбцам, которых нет в выводе.

### Получили список всех режиссёров и фильмов из ТОП-250, отсортированных по году выхода в прокат, а внутри года — по рейтингу в порядке убывания.

In [ ]:
SELECT /*выбор*/
    director, /*столбец director*/
    movie_title /*столбец movie_title*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
ORDER BY year, rating DESC /*сортировка по столбцам year и rating в порядке убывания*/

In [ ]:
select movie_title
from sql.kinopoisk
where rating > 8.3 and country = 'Франция'
order by rating desc, year desc

### Для упрощения работы с ORDER BY можно использовать не названия столбцов, а их номера из вывода.

In [ ]:
SELECT /*выбор*/
    director, /*столбец director*/
    movie_title, /*столбец movie_title*/
    year /*столбец year*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
ORDER BY 1, 3 DESC /*сортировка по первому и третьему столбцам*/

### Сортировку по номеру столбца стоит использовать с осторожностью, поскольку при изменении вывода в SELECT всё может сбиться.

### При добавлении новых столбцов в SELECT нужно проверить и при необходимости поправить номера столбцов в ORDER BY.