# Знакомимся с JOIN

### В прошлом юните для соединения таблиц мы использовали условие в разделе where, чтобы показать принцип работы оператора JOIN.

## JOIN — это оператор SQL, который позволяет соединять таблицы по условию.

### В качестве примера используем запрос из предыдущего юнита.

In [ ]:
'''
SELECT 
    long_name,  /*столбец long_name таблицы teams*/
    home_team_goals, /*столбец home_team_goals таблицы matches*/
    away_team_goals /*столбец away_team_goals таблицы matches*/
FROM
    sql.teams, /*таблица с командами*/
    sql.matches /*таблица с матчами*/
WHERE home_team_api_id = api_id /*условие: home_team_api_id таблицы matches равен api_id таблицы teams*/
'''

## и запишем его с использованием JOIN.

In [ ]:
'''
SELECT 
    long_name, /*столбец long_name таблицы teams*/
    home_team_goals, /*столбец home_team_goals таблицы matches*/
    away_team_goals /*столбец away_team_goals таблицы matches*/
FROM    
    sql.teams /*таблица с командами*/
JOIN sql.matches on home_team_api_id = api_id /*оператор соединения таблиц; таблица matches; условие: home_team_api_id таблицы matches равен api_id таблицы teams*/
'''

## СИНТАКСИС

### Оператор JOIN упрощает процесс соединения таблиц.

### Его синтаксис можно представить следующим образом:

### SELECT
###         столбец1,
### 	столбец2,
### 	...
### FROM
### 	таблица1
### JOIN таблица2 ON условие


### Порядок присоединения таблиц в данном случае не важен — результат будет одинаковым.

### С помощью JOIN можно соединить и более двух таблиц.

### SELECT
###         столбец1,
### 	столбец2,
### 	...
### FROM
### 	таблица1
### JOIN таблица2 ON условие
### JOIN таблица3 ON условие

### В таблицах, которые мы соединяем, могут быть одинаковые названия столбцов.

### → К примеру, столбец id есть и в таблице matches, и в таблице teams. Такой запрос не будет обработан.

In [ ]:
'''
SELECT
    id /*столбец id, но не указано какой таблицы*/
FROM 
sql.teams /*таблица teams*/
    JOIN sql.matches ON home_team_api_id = api_id /*оператор соединения таблиц; таблица matches; условие: home_team_api_id таблицы matches равен api_id таблицы teams*/
    '''

### В результате должно появиться сообщение об ошибке вроде такого: "... column id is ambiguous ...".


### Что же делать в таком случае?

### Можно указать, откуда мы хотим запросить данные, записав название таблицы перед столбцом через точку.

In [ ]:
'''
SELECT
    teams.id /*столбец id таблицы teams*/
FROM 
    sql.teams /*таблица teams*/
JOIN sql.matches ON home_team_api_id = api_id /*оператор соединения таблиц; таблица matches; условие: home_team_api_id таблицы matches равен api_id таблицы teams*/
'''

### Можно также выбрать и столбец из таблицы matches.

In [ ]:
'''
SELECT
    matches.id /*столбец id таблицы matches*/
FROM 
    sql.teams /*таблица teams*/
JOIN sql.matches ON home_team_api_id = api_id /*оператор соединения таблиц; таблица matches; условие: home_team_api_id таблицы matches равен api_id таблицы teams*/
'''

### Зачастую названия таблиц слишком длинные, так что использовать их неудобно.

### Упростить обращение к различным таблицам можно, присвоив им сокращённые названия — алиасы (от англ. alias).

### Синтаксис для указания алиаса такой же, как и для названия столбца.

### SELECT
###         столбец1,
### 	столбец2,
### 	...
### FROM
### 	таблица1 AS короткое_название_1
### JOIN таблица2 AS короткое_название_2 ON условие

### Название записывается без пробелов и операторов.

### Если необходимо записать название, в котором используются пробелы ("table 1"), то алиас можно обернуть в кавычки.

### Важно! Обращаться по такому алиасу придётся также с помощью кавычек.

### SELECT
### 	"table 1".столбец1,
### 	"table 2".столбец2,
### 	...
### FROM
### 	таблица1 AS "table 1"
### 	JOIN таблица2 AS "table 2" ON условие

### Использование таких алиасов считается плохой практикой как минимум по причине того, что обращаться с такими алиасами неудобно.

### Вместо алиасов с кавычками рекомендуется давать простое короткое название на латинице, без специальных символов и пробелов. Если таблиц немного и все названия начинаются с разных букв, можно присваивать алиасы по первой букве.

### Ключевое слово as, как и в названии столбца, можно опустить в большинстве СУБД.

### SELECT
###         столбец1 новое_название_столбца,
### 	столбец2 новое_название_столбца,
### 	...
### FROM
### 	таблица1 короткое_название_1
### JOIN таблица2 короткое_название_2 ON условие

### Давайте попробуем проделать то же самое для наших таблиц.

In [ ]:
# 3.2
'''
select
  matches.id as match_id,
  teams.id as team_id
from sql.matches
join sql.teams on home_team_api_id = api_id
order by match_id
'''

### Давайте с помощью запроса SQL получим таблицу, содержащую:

* название домашней команды;
* количество забитых домашней командой голов;
* количество забитых гостевой командой голов;
* название гостевой команды.

In [ ]:
'''
SELECT
    h.long_name "домашняя команда", /*столбец long_name таблицы h*/
    m.home_team_goals "голы домашней команды", /*столбец home_team_goals таблицы m*/
    m.away_team_goals "голы гостевой команды", /*столбец away_team_goals таблицы m*/
    a.long_name "гостевая команда" /*столбец long_name таблицы a*/
FROM
    sql.matches m /*таблица matches с алиасом m*/
    JOIN sql.teams h ON m.home_team_api_id = h.api_id /*оператор соединения таблиц; таблица teams с алиасом h; условие: home_team_api_id таблицы m равен api_id таблицы h*/
    JOIN sql.teams a ON m.away_team_api_id = a.api_id /*оператор соединения таблиц; таблица teams с алиасом a; условие: away_team_api_id таблицы m равен api_id таблицы a*/
'''

In [ ]:
# 3.3
'''
select
  matches.id,
  home.short_name as home_short,
  away.short_name as away_short
from sql.matches
join sql.teams as home on matches.home_team_api_id = home.api_id
join sql.teams as away on matches.away_team_api_id = away.api_id
order by matches.id
'''